<div class = "container">
  <form action="/" method="post">
    <div class="form-group">
      <h1>Vowel Checker 3,000</h1>
      <h2>But wait! What does this puppy do?</h2><br>
      <p>
        The Vowel Checker 3,000 is a highly intelligent app that allows you to input a list of words and see which vowels weren't used.
      </p>
      <label for ="word"><h3>Enter a word</h3></label>
      <input id="word" name="word" class="form-control" type="text" placeholder="type a word" required><br>
      <button type="submit" class="btn btn-info">Submit!</button>
      <a href="/" class="btn btn-warning" role="button">Check another word</a>
    </div>
    <% if @word %>
<h3>The missing vowels from <%= @word %> are: <%= @missing_vowels %>.</h3>
  </form>
    <% end %>
</div>
