<div class = "container">
  <form action="/" method="post">
    <div class="form-group">
      <h1>Vowel Checker 3,000</h1>
      <label for ="word"><h2>Enter a word</h2></label>
      <input id="word" name="word" class="form-control" type="text" placeholder="type a word" required><br>
      <button type="submit" class="btn btn-success">Submit!</button>
      <a href="/" class="btn btn-danger" role="button">Check another word</a>
    </div>
<h3>The missing vowels from <%= @word %> are .</h3>
  </form>
</div>
